<!DOCTYPE html>
<html>
<body>

<h2>Workout Form</h2>

<form action="/workout" method="post">
  <label for="muscle_group">Muscle Group:</label><br>
  <input type="text" id="muscle_group" name="muscle_group"><br>
  <label for="training_style">Training Style:</label><br>
  <input type="text" id="training_style" name="training_style"><br>
  <label for="rep_range">Rep Range:</label><br>
  <input type="text" id="rep_range" name="rep_range"><br>
  <input type="submit" value="Submit">
</form> 

</body>
</html>